# Personal configuration for mac-stack automation
# Copy this file to '.env' and customize for your setup

# Control Flow
SKIP_BREW_PACKAGE_UPDATES="false"

# Git configuration
GIT_USER_NAME="Your Name"
GIT_USER_EMAIL="your.email@example.com"
GIT_CORE_EDITOR="zed --wait"

# Git repositories
GIT_REPOS_FOLDER="~/Desktop/Repos"
GIT_REPOS_FOLDER_TEMPLATE="git/repos-folder-template"

# Settings and keybindings for VS Code based IDEs
VSCODE_SETTINGS_RESTORE="false" # Restoring replaces existing settings and keybindings files
